body
{
	background: #EFEFEF;
	margin: 0;
}
body article, section
{
	border: 1px #434343 solid;
	display: inline-block;
	margin: 0;
	padding: 0;
	position: relative;
	vertical-align: top;
}
header h1
{
	background: #FAEDC8;
	color: #29271A;
	border: 2px #434343 solid;
	margin: 0;
	text-align: center;
	width: 100%;
}
body #agarradera, #inferior, #superior
{
	background: #FAEDC8;
	border: 2px #434343 solid;
	margin: 0;
	text-align: center;
	width: 100%;
}
body #agarradera_cent, #agarradera_der, #agarradera_izq
{
	width: 30%;
}
body #bolsa_sup_cent, #bolsa_sup_der, #bolsa_sup_izq
{
	background: #FAEDC8;
	border: 2px #434343 solid;
	margin: 0;
	width: 30%;
}
body #bolsa_inf_izq, #bolsa_inf_cent, #botella
{
	background: #FAEDC8;
	border: 2px #434343 solid;
	margin: 0;
	width: 30%;
}